.header-photo-gallery {
  background-image: url("../img/D6K_7517_1.jpg");
  height: 75vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 480px) {
  .header-photo-gallery {
    height: 80vh;
  }
  .header-photo-gallery .container-semicircles {
    top: 0;
  }
  .item-desc {
    display: none !important;
  }
}

@media (max-width: 1160px) {
  .gallery-content {
    width: 95% !important;
  }
}

.gallery-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.gallery-wrapper .gallery-wrapper-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: linear-gradient(1deg, #edc607, #e46f04, #cde600);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
          animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.gallery-wrapper .gallery-wrapper-content .gallery-content {
  width: 1140px;
  height: 100%;
  z-index: 10;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content h3 {
  font-family: Pallete;
  text-align: center;
  font-size: 40px;
  color: white;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .filtr-container {
  padding: 0 5%;
  margin: 2% 0;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter {
  margin: 40px 0;
  width: 100% !important;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li {
  padding: 13px;
  margin: 5px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #fff !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:hover {
  color: #fff !important;
  border: none;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:nth-child(1) {
  color: #fb2992;
  border: 1px solid #fb2992;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:nth-child(1):hover {
  background-color: #fb2992 !important;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:nth-child(2) {
  color: #04AEE4;
  border: 1px solid #04AEE4;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:nth-child(2):hover {
  background-color: #04AEE4 !important;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:nth-child(3) {
  color: #E90000;
  border: 1px solid #E90000;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter li:nth-child(3):hover {
  background-color: #E90000 !important;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter .active {
  background-color: #fb2992 !important;
  color: #fff !important;
  border: none !important;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .simplefilter .active:hover {
  background-color: #fb2992 !important;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .thumbnail {
  border: none;
  background: none;
  border-radius: 10px;
  padding: 0;
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .thumbnail:hover {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.gallery-wrapper .gallery-wrapper-content .gallery-content .item-desc {
  font-family: Montserrat-Italic;
  border-radius: 10px;
}

.gallery-wrapper .gallery-wrapper-content::before {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 0;
  top: -1%;
  left: 0%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, rgba(255, 255, 255, 0)), color-stop(93%, #EDC607));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 55%, #EDC607 93%);
}

.gallery-wrapper .gallery-wrapper-content::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 10;
  bottom: 0%;
  left: 0%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, rgba(255, 255, 255, 0)), color-stop(93%, #EDC607));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 55%, #EDC607 93%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery-wrapper .cloud-wrapper {
  height: 160px;
  width: 100%;
  background-color: #68BBE5;
  overflow: hidden;
  position: relative;
}

.gallery-wrapper .cloud-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(255, 255, 255, 0)), color-stop(85%, #EDC607));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26%, #EDC607 85%);
}

.footer-photo-gallery {
  background-image: url("../img/D6K_2012_1.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.footer-photo-gallery .yellow-wave {
  background-image: url(../img/yellow-wave.png);
  background-repeat: repeat-x;
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  height: 70px;
  z-index: 990;
  -webkit-animation: yellow-wave 10s infinite linear;
  animation: yellow-wave 10s infinite linear;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes yellow-wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1000px;
  }
}

@keyframes yellow-wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1000px;
  }
}
/*# sourceMappingURL=gallery.css.map */