@font-face {
  font-family: FontAwesome;
  src: url("../fonts/FontAwesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.single-post-wave {
  width: 100%;
  height: 170px;
  background: -webkit-gradient(linear, left top, right top, from(#04AEE4), to(#fb2992));
  background: linear-gradient(90deg, #04AEE4, #fb2992);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.single-post-wave::after {
  content: "";
  height: 70px;
  background-image: url(../img/news-wave.png);
  background-repeat: repeat-x;
  -webkit-animation: news-wave 10s infinite linear;
          animation: news-wave 10s infinite linear;
  width: 8000px;
}

@-webkit-keyframes news-wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1000px;
  }
}

@keyframes news-wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1000px;
  }
}

.single-post-centent-wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-article.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.single-post-centent-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.609);
}

.single-post-centent-wrapper .single-post-centent {
  z-index: 2 !important;
  margin: 30px auto;
  width: 800px;
}

.single-post-centent-wrapper .single-post-centent h2 {
  font-family: Pallete;
  color: #fb2992;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.single-post-centent-wrapper .single-post-centent p {
  color: #222235;
  font-size: 17px;
  padding-left: 12px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.single-post-centent-wrapper .single-post-centent .post-date {
  color: #35222d;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: end;
}

.bottom-single-post-wave {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wp-block-video {
  border-radius: 10px;
  position: relative;
  margin-top: 50px;
}

.wp-block-video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: white;
}

.wp-block-video::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 990;
}

.wp-block-video video {
  border-radius: 10px;
}

.slick-list {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.msacwl-slide img.attachment-full {
  background-color: #5d5d04;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 400.5px;
  min-height: 400.5px;
  margin: auto 10px auto 0;
}

.msacwl-slider-wrap {
  margin: 50px auto 10px auto;
  max-width: 90%;
}

.msacwl-gallery-slider button.slick-arrow {
  z-index: 990;
}

.msacwl-gallery-slider button.slick-next {
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

.msacwl-gallery-slider button.slick-prev {
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
}


.msacwl-gallery-slider .slick-dots li button {
  border: none;
  background: #fb2992 !important;
}

.msacwl-gallery-slider .slick-dots li.slick-active button {
  background: #04AEE4 !important;
}

.msacwl-gallery-slider .slick-dots {
  margin-bottom: 10px !important;
}

.msacwl-gallery-slider .slick-arrow {
  margin: 0 !important;
}

@media (max-width: 970px) {
  .msacwl-slider-wrap {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .msacwl-slide img.attachment-full {
    min-height: 330px;
    max-height: 330px;
  }
}

@media (max-width: 600px) {
  iframe {
    height: 300px;
  }
  .msacwl-slider-wrap {
    max-width: 100%;
  }
  .msacwl-slide img.attachment-full {
    min-height: 300px;
    max-height: 300px;
  }
}

@media (max-width: 530px) {
  .msacwl-slide img.attachment-full {
    min-height: 250px;
    max-height: 250px;
  }
}

@media (max-width: 480px) {
  .msacwl-slide img.attachment-full {
    min-height: 230px;
    max-height: 230px;
  }
}

@media (max-width: 430px) {
  .msacwl-slide img.attachment-full {
    min-height: 220px;
    max-height: 220px;
  }
}

@media (max-width: 380px) {
  .msacwl-slide img.attachment-full {
    min-height: 180px;
    max-height: 180px;
  }
}

@media (max-width: 330px) {
  .msacwl-slide img.attachment-full {
    min-height: 160px;
    max-height: 160px;
  }
}

@media (max-width: 800px) {
  .single-post-centent-wrapper .single-post-centent {
    width: 90%;
  }
}
/*# sourceMappingURL=single.css.map */